
# ----------------------------------------------------------------------
# This file is created to list all environment variables. Make sure you fillup them before running 
# ----------------------------------------------------------------------


# APP
REVALIDATE_TOKEN = 
NEXT_PUBLIC_FORM_API = 

# HYGRAPH 
HYGRAPH_ENDPOINT = 
WEBSITE_ID = 

# LIVE CHAT
NEXT_PUBLIC_TAWK_PROPERTY_ID = 
NEXT_PUBLIC_TAWK_WIDGET_ID = 

# CALENDLY
NEXT_PUBLIC_CALENDLY_LINK = 